/*--------------Web site--------------*/
body {
	margin: 0;
	color: white;
	background-color: black;
}
/*----------------Logo----------------*/
.logo-wrapper {
	width: 400px;
    height: 400px;
    position: relative;
	margin: 50px auto;
	perspective: 500px;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.logo-wrapper .logo {
	width: 400px;
	position: absolute;
}

.logo-wrapper .logo.front {
	opacity: 1;
	transform: rotateY(0);
	transition: transform 1s ease,opacity .5s ease;
}
.logo-wrapper .logo.back {
	transform: rotateY(180deg);
	transition: transform 1s ease,opacity .5s ease;

}

.logo-wrapper.on .logo.front {
	transform: rotateY(-180deg);
}
.logo-wrapper.on .logo.back {
	opacity: 1;
	transform: rotateY(0);
}

@media (max-width: 630px) {
    .logo-wrapper {
    	width: 240px;
    	height: 240px;
    }
}

@media (max-width: 630px) {
    .logo-wrapper .logo {
    	width: 240px;
    }
}
/*--------------UserName--------------*/
/*----------------Enter---------------*/
/*-----------Extra-Language-----------*/
/*--------------Extra-Lang------------*/
/*------------Extra-Avatars-----------*/
.avatar-wrapper {
	text-align: center;
}

.arrow, .avatar {
	width: 80px;
	height: 80px;
}

.avatar {
	background-color: gray;
}
/*------------------------------------*/
