/*--------------Web site--------------*/
body {
	min-width: 570px;
	font-size: 16px;
	margin: 34px 0 0 0;
	background-color: #000;
	line-height: 1.42857143;
	font-family: "Helvetica Neue",Helvetica,
	"Hiragino Sans GB",STHeiti,"Microsoft Yahei",
	"WenQuanYi Micro Hei",Arial,Verdana,sans-serif;
}
/*------------------------------------*/
.wrapper {
	display: flex;
}

.left {
	margin: 0 15px;
	width: 33.33333333%;
}

.profile {
	color: #fff;
	margin-bottom: 15px;
	display: inline-flex;
}

.avatar {
	width: 46px;
	height: 46px;
	margin-right: 10px;
	border-radius: 5px;
}

.link {
	color: #fff;
	font-size: 13px;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.search-box {
	border-radius: 6px;
	padding: 10px 15px;
	margin-bottom: 15px;
	background-color: #fdfdfd;
}

.search-input {
	width: 100%;
	height: 34px;
	color: #89b32b;
	font-size: 14px;
	padding: 6px 12px;
	border-radius: 6px;
	border: 1px solid #ccc;
}

.search-input:focus {
	outline: 0;
}

.checkbox1, .checkbox2 {
	font-size: 14px;
}

.checkbox1 {
	padding: 10px 0 5px 0;
}

.right {
	height: 300px;
	border-radius: 6px;
	padding: 16px 20px;
	width: 66.66666667%;
	background: #fdfdfd;
}

.lounge-top {
	margin: -6px 0 8px 0;
}

.lounge-nav {
	display: flex;
	margin: 0 -20px 0 -20px;
	font-size: 14px;
	padding: 6px 20px;
	background: #f2f2f2;
}

.create-room {
	height: 28px;
	border-style: solid;
	cursor: pointer;
	border-width: 1px;
	padding: 2px 12px;
	font-size: 14px;
	border-color: #ccc;
	border-radius: 6px;
	background-color: #fff;
}

.abc {
	line-height: 28px;
	color: #777;
	margin-left: 10px
}

.rooms-placeholder {
	margin-top: 10px;
}
