/*--------------Web site--------------*/
body {
	margin: 0;
	color: #fff;
	background-color: black;
	font-family: "Helvetica Neue",Helvetica,
	"Hiragino Sans GB",STHeiti,"Microsoft Yahei",
	"WenQuanYi Micro Hei",Arial,Verdana,sans-serif;
}
/*------------------------------------*/
.container {
	padding: 34px 15px;
}

.col-sm-push-8 {
	
}

.col-sm-4 {
	height: 100px;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: yellow;
	width: 33.33333333%;
	left: 66.66666667%;
}

.col-sm-pull-4 {
	
}

.col-sm-8 {
	float: left;
	height: 100px;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: green;
	width: 66.66666667%;
	right: 33.33333333%;
}